* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(107, 0, 230, 0.185);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: nowrap;
}
div {
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center
}

.option-2 {
    font-size: medium;
}

button {
    background-color: rgba(107, 0, 230, 0.185);
    width: 6rem;
    height: 2rem;
    border-radius: 10px;
    border-color: purple;
    border-style: solid;
    margin: 10px;
}

button#btn-reset {
    background-color: red;
    width: 7rem;
    height: 3rem;
}